<?xml version="1.0" encoding="UTF-8"?>

<phpunit syntaxCheck="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true"
         bootstrap="../Autoloader.php"
         timeoutForSmallTests="3">

    <testsuites>
        <testsuite name="Acceptance">
            <directory suffix="Test.php">../acceptance/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../source</directory>
            <exclude>
                <directory suffix=".php">../source/exex/</directory>
            </exclude>
        </whitelist>
    </filter>


    <logging>
        <log type="junit"
             target="../doc/junit.xml"
             logIncompleteSkipped="true" />

        <log type="coverage-html"
            target="../doc/coverage/"
            charset="UTF-8"
            yui="true"
            highlight="true"
            lowUpperBound="50"
            highLowerBound="75" />
    </logging>

</phpunit>